.card{
    width: 80%;
    margin: 0 auto;
    height: 300px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color: black;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
}

.card:hover{
    /* transform: box-shadow 0 0 30px rgba(0, 0, 0, 0.7); */
    transform: scale(1.01);
}

.card img{
    width: 35%;
    /* height: 100%; */
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.description{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .8rem;
    text-align: left;
}

.description h2{
    margin: 0;
    font-size: 1.5rem;
}

.description p{
    margin: 0;
    font-size: 1rem;
}
